.menu{
    width: 100%;
    height: 6vh;
    background-color: #282830;
    border-bottom: double black;
}
.menu select{
    height: 6vh;
    font-size: 4vmin;
    font-family: 'Lobster', cursive;
    color: white;
    background-color:#282830;
    border: none;
}
.dropbtn {
    background-color: #282830;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 4vmin;
    height: 100%;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    margin-right: 2vw;
    float: right;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 4vw;
     opacity: 0.5;
 }

.dropdown-content a {
     color: black;
     padding: 1vh 1vw;
     text-decoration: none;
     display: block;
     font-family: 'Lobster', cursive;
     font-size: 3vmin;
}

.dropdown-content a:hover {background-color: #00B4FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1dabb8;
}
#userBtn{
    margin-right: 10px;
}
.newMessageButton{
    float: right;
    margin-right: 3vw;
    height: 5vh;
}
.newMessageButton:hover{
    background-color: #00B4FF;
    border-radius: 50%;
}

.homeButton{
    float: left;
    height: 5vh;
}
.homeButton:hover{
    background-color: #00B4FF;
    border-radius: 50%;
}
