table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}
tr{
    background-color: #999999;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
}

#success{
    font-family: 'Lobster', cursive;
    display: none;
}
#info{
    font-family: 'Lobster', cursive;
}

.modal-header div {
    width: 100%;
    text-align: left;
}
.modal-header input {
    width: 20%;
    text-align: left;
    font-family: 'Lobster', cursive;
}

.modal-body {
    padding: 2px 16px;
}

.modal-body textarea {
    display: inline-block;
    width: 100%;
    height: 20%;
    resize: none;
}

.modal-footer {
    text-align: right;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-footer input{
    font-family: 'Lobster', cursive;
    font-size: 3vmin;
    height: 50px;
    width: 120px;
}
img{
    width: 35px;
    height: 35px;
}
.table img:hover{
     background-color: #5cb85c;
     border-radius: 50%;
}